<ion-header [translucent]="true">
  <ion-toolbar color="azul-esverdeado">
    <ion-title>
     <strong>Bebidas</strong> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "dark">
  <ion-grid class="ion-text-center ion-no ion-no-padding">
    <ion-row class="ion-no-padding">

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://i.pinimg.com/originals/98/27/38/98273877f925f4b3b1e0c1c7b333ed1b.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Milkshakes 300ml   
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">300ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>8,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://www.bonasera.cz/User_Files/photos/bonasera-frappe-ciccolato-36-ks-po-25-g_1609_2000.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Milkshakes 500ml   
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">500ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>10,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

       <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://player.hu/uploads/2018/02/chia.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Vitamina 300ml   
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">300ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>8,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://th.bing.com/th/id/OIP.yhOJhEy76aJvolql49cttgHaFI?pid=ImgDet&rs=1">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Vitamina de 500ml   
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">500ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>10,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://organomix.vteximg.com.br/arquivos/ids/6406-1000-1000/minalba-15l-sem-gas.jpg?v=635017214424600000">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Água 500ml  
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">500ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>2,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="https://media.seumenu.com/images/produtos/gx9yzurnn-confeitaria-gourmet-bebidas.jpeg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
              Refrigerante 350ml   
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>3,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
